<a href="https://colab.research.google.com/github/harithan221810402016/HARITHA/blob/master/Day_9_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT

In [1]:
#Series Generations:-  1, 3, 9, 27, 81, ...
n=int(input("enter a number"))
for i in range (0,n):
  a=3**i
  print(a,end=" ")

enter a number5
1 3 9 27 81

In [31]:
#Series Generations:-  1, 2, 4, 8, 16, 32, 64, 128, 256, ...
n=int(input("enter a number"))
print("1,",end=" ")
for i in range(1,n):
    
    a=i*2
    print(a,end=", ")

enter a number 5
1, 2, 4, 6, 8,

In [27]:
#Series Generations:-  1 3 4 8 15 27 50 92 169 311
n=int(input("enter a number"))
a=1
b=3
c=4
print("1 3 4 ",end=" ")
for i in range(1,n+1):
  sum=a+b+c
  print(sum,end=" ")
  a=b
  b=c
  c=sum

enter a number5
1 3 4  8 15 27 50 92

In [56]:

#Series Generations:-  1! + 2! + 3! + 4! + 5! + ... + n!
n=int(input("input a number please "))
fact=1
for i in range (2,n+1) :
  fact=i*fact
  print(fact,end="+")

input a number please 5
2+6+24+120+

In [32]:
#Series Generations:-  2 15 41 80 132 197 275 366 470 587
n=int(input("input a number please "))
sum=2
for i in range(0,n+1):
  sum=sum+(i*13)
  print(sum,end=" ")

input a number please 5
2 15 41 80 132 197

In [37]:
# Series Generations:-  1,9,17, 33,49,73,97
n=int(input("input a number please "))
a=8
b=1
print("1",end=" ")
for i in range(1,n+1):
  for j in  range(0,2):
    b=b+a
    print(b,end=" ")
  a=a+8

input a number please 5
1 9 17 33 49 73 97 129 161 201 241

In [60]:
#The program must accept an integer N the input. The program must print the desired pattern as shown in the Example Input/Output section.Boundary Condition(s):
 # 1 <= N <= 10^8
 #Input Format:41325
def o(n):
    for i in range (len(n)):
        n[i]=int(n[i])
    for i in range (len(n)):
        for j in range (n[i]):
            print("*",end="")
        print("")
    return
x=input("enter num ")
o(list(x))

enter num41325
****
*
***
**
*****

In [59]:
#Your Program has to read one string as well as one character and you need to remove the all the occurance of the character.

#HebeonTech,e -- HbonTch
s1="HebeonTech,e"
s2=s1.split('e')
print("".join(s2))

HbonTch,

In [61]:
##The program must accept an integer N the input. The program must print the desired pattern as shown in the Example Input/Output section.Boundary Condition(s):
 # 1 <= N <= 10^8
 #Input Format:60710
def o(n):
    for i in range (len(n)):
        n[i]=int(n[i])
    for i in range (len(n)):
        for j in range (n[i]):
            print("*",end="")
        print("")
    return
x=input("enter num ")
o(list(x))

enter num 60710
******

*******
*

In [62]:
#Your Program need to accept two strings and generate the output in merging of both strings.

#Input1: abc xyz----axbycz
li=["a","b","c","x","y","z"]
print("%s%s%s%s%s%s"%(li[0],li[3],li[1],li[4],li[2],li[5]))

axbycz

In [63]:
#Input2: ab ssd--- asbsd
li=["a","b","s","s","d"]
print("%s%s%s%s%s"%(li[0],li[2],li[1],li[3],li[4]))

asbsd

In [65]:
#Input3: abcd ssi---asbscid
li=["a","b","c","d","s","s","i"]
print("%s%s%s%s%s%s%s"%(li[0],li[4],li[1],li[5],li[2],li[6],li[3]))

asbscid

In [4]:
#The program must print the fibonacci series in the reverse order as the output.
#Input:12----89 55 34 21 13 8 5 3 2 1 1 0
def Q1(x):
  while x-2!=0:
    a=0
    b=1
    c=0
    for i in range(x-2):
      c=a+b
      a=b
      b=c
    print(c,end=" ")
    x-=1
  print('1 0')
  return
Q1(int(input("enter number")))

enter number12
89 55 34 21 13 8 5 3 2 1 1 0

In [11]:
#The program must accept N integers as the input. The program must print the sum of non repeated integers as the output. If there is no non repeated integer then the program must print -1 as the output.
  def Q2(n):
  a=[]
  s=0
  for i in range(n):
    a.append(int(input()))
  for i in range(n):
      c=0
      for j in range(n):
        if i!=j:
          if a[i]==a[j]:
            c+=1
      if c==0:
        s=s+a[i]
  return s
Q2(int(input("no of values ")))

no of values 5
22
33
22
33
55

55

In [18]:
#The program must accept two string values S1 and S2. The program must print the pattern as shown in the 
def Q3(a,b):
  if len(a)<=len(b):
    n=len(a)
    k=len(b)
  else:
    n=len(b)
    k=len(a)
  for i in range(n):
    print(a[i],b[i])
  for j in range(n,k):
    if(len(a)<=len(b)):
      print(b[j],'*')
    else:
      print(a[j],'*')
  return   
x=str(input("enter str:"))
x=x.split()
Q3(x[0],x[1])

enter str:hirhfye nhjkd
h n
i h
r j
h k
f d
y *
e *

In [14]:
#The program must accept a string S as the input. The program print the longest word from the string S as the output. If two or more longest words are of same length then consider the first one.
def Q4(a,b):
  if len(a)>=len(b):
    print(a.upper())
  else:
    print(b.upper())
  return
x=str(input("enter str:"))
x=x.split()
Q4(x[0],x[1])

enter str:Haritha Nimmagadda
NIMMAGADDA

In [16]:
# Your program need to accept a string (alphanuermic) includes white spaces also. The program must print the output in the following way.
def Q5_1(a):
  a=a.split()
  for i in range (len(a)):
    if a[i].istitle()==True:
      print(a[i].upper(),end= " ")
  return
x=str(input("enter str:"))
Q5_1(x)

enter str:Haritha Nimmagadda
HARITHA NIMMAGADDA