<a href="https://colab.research.google.com/github/harithan221810402016/HARITHA/blob/master/Day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
###DAY OBJECTIVES
-Python Data structures
 >Lists
  >tuples
  >Dictionaries
-Basic Program sets on Data Structures
-Advanced Problem set
-contact application (dictionary object)

#DATA STRUCTURES:
-to store,search and sort the data

SyntaxError: ignored

### Python Data Structures
###Lists
-It's one of the common data structures supports by python, the list items are sepersted by comma operator and enclosed in square brackets
 
 -Example :
        
        list-1=[1,6,2,12,9]
        
        list-2=["Gitam",10,12,15.5,"Hyderabad"]

In [0]:
lst=[1,3,7,5,89,35]
print(lst)#access entire list
print(lst[0])#access the first item of the list
print(lst[1])#access the second item of list
print(lst[-1])#access the last item of list
print(lst[-2])#acess the last second item of list
print(lst[1:])#considers from the second item of the list
print(lst[1:5])#access between second to fifth item of list

[1, 3, 7, 5, 89, 35]
1
3
35
89
[3, 7, 5, 89, 35]
[3, 7, 5, 89]

In [0]:
# Update the list item values using the particular index(dirct referencing)
li=["GITAM","PYTHON",1989,2002]
print(li)
li[2]=2019
print(li)

['GITAM', 'PYTHON', 1989, 2002]
['GITAM', 'PYTHON', 2019, 2002]

In [0]:
#Delete the specific item in the list
print(li)
del li[2]
print(li)

['GITAM', 'PYTHON', 2019, 2002]
['GITAM', 'PYTHON', 2002]

In [0]:
#BASIC LIST OPERATORS
lst1=[1,5,3,18,24]
print(len(lst1))#len of the list
#print(lst1*2)#Repetetion
print(len(lst1))
print(5 in lst1)#list item is present or not
print(15 in lst1)#list item is present or not
#Accessing the list items using iteration 
for x in range(len(lst1)):
  print(lst1[x],end=" ")

5
5
True
False
1 5 3 18 24

In [0]:
#Functions of the list
lst1
print(min(lst1))# minimum element of list
print(max(lst1))#maximum element of the list
print(sum(lst1))#sum of the llist
print(sum(lst1)//len(lst1))# Average of all the elements of the list
print(sum(lst1[1::2])/len(lst1[1::2]))#Average of the alternate elements in the list

1
24
51
10
11.5

In [0]:
print(lst1)
lst1.append(33) #adding a new element at the end of the list
print(lst1)
lst1.insert(2,56) #adding an element at particular index
print(lst1)
lst1.count(33)# count the repetetion of the element in the list
print(lst1)
lst1.index(56)
print(lst1)
lst1.sort()# It's sort the list numbers in ascending order
print(lst1)
lst1.pop()#remove the last element from the list
print(lst1)
lst1.pop(1)#remove the particular element from the list
print(lst1)
lst2=[12,45,67]
lst1.extend(lst2) #Merge the list2 with list1
print(lst1)

[1, 4, 4, 4, 5, 6, 6, 6, 18, 24, 33, 33, 33, 33, 12, 45, 67]
[1, 4, 4, 4, 5, 6, 6, 6, 18, 24, 33, 33, 33, 33, 12, 45, 67, 33]
[1, 4, 56, 4, 4, 5, 6, 6, 6, 18, 24, 33, 33, 33, 33, 12, 45, 67, 33]
[1, 4, 56, 4, 4, 5, 6, 6, 6, 18, 24, 33, 33, 33, 33, 12, 45, 67, 33]
[1, 4, 56, 4, 4, 5, 6, 6, 6, 18, 24, 33, 33, 33, 33, 12, 45, 67, 33]
[1, 4, 4, 4, 5, 6, 6, 6, 12, 18, 24, 33, 33, 33, 33, 33, 45, 56, 67]
[1, 4, 4, 4, 5, 6, 6, 6, 12, 18, 24, 33, 33, 33, 33, 33, 45, 56]
[1, 4, 4, 5, 6, 6, 6, 12, 18, 24, 33, 33, 33, 33, 33, 45, 56]
[1, 4, 4, 5, 6, 6, 6, 12, 18, 24, 33, 33, 33, 33, 33, 45, 56, 12, 45, 67]

In [0]:
li=[1,9,8,2,6,3]
print(li[-1:2:-2])

[3, 2]

In [0]:
#fUNCTION TO FIND THE SEOND LARGE ITEM IN THE LIST
#INPUT:[1,19,6,2,8,18,3]
#OUTPUT:18
def secondlarge(li):
  li.sort()
  return li[-2]
def genericlarge(li,n):
  li.sort()
  return li[-n]
li=[1,19,6,2,8,18,3]
print(secondlarge(li))
print(genericlarge(li,4))

18
6

In [0]:
#Finding the second least from the list
#INPUT:[1,19,6,2,8,18,3]
#OUTPUT:2
def secondleast(li):
  li.sort()
  return li[1]
def genericleast(li,n):
  li.sort()
  return li[n-1]
li=[1,19,6,2,8,18,3]
print(secondleast(li))
print(genericleast(li,4))

2
6

In [0]:
def linear(ab,cd):
  for x in range(len(ab)):
    if ab[x]==cd:
      return x
  return -1
ab=[1,19,6,2,8,18,3]
linear(ab,34)

-1

In [0]:
def linear2(a,b):
  for x in range(len(a)):
    if a[x]==b:
      print(x,end=" ")
  return
a=[1,5,9,6,5,15,1,2,5]
linear2(a,5)

1 4 8

In [0]:
def linear(a,b):
  for x in range (len(a)):
    if a[x]==b:
      j=0
      while j!=x+1:
        print("!",end=" ")
        j=j+1
      print(end=" ")
  return
a=[1,5,9,6,5,15]
linear(a,5)

! !  ! ! ! ! !

In [0]:
def perfect(a):
  sum=0
  for x in range(len(a)):
    if a[x]%5==0 and a[x]%3==0:
      sum=sum+a[x]
  return sum
a=[12,45,9,18,15,36]
perfect(a)

60

In [0]:
#Function
#Input:List
#output:Formatted output
#Test case:
#[1,2,3,4,5]--[1,3,8,15,5]
#[6,5,2,8,2]--[6,12,40,4,2]
def linearsearch5(li):
  for x in range(len(li)):
    if x==0 or x==len(li)-1:
      print(li[x],end=" ")
    else:
      print(li[x-1]*li[x+1],end=" ")
  return
li=[1,2,3,4,5]
linearsearch5(li)

1 3 8 15 5

In [0]:
#Function
#Input:List
#output:Formatted output
#Test case:
#[1,6,9,4,16,19,22]--1 9 19 22
def linearsearch6(li):
  for x in range(len(li)):
    if x==0 or x==len(li)-1:
      print(li[x],end=" ")
    elif li[x-1]%2==0 and li[x+1]%2==0:
      print(li[x],end=" ")
      
  return
li=[1,6,9,4,16,19,22]
linearsearch6(li)

1 9 19 22

###NUMBER TO LIST


*   INPUT AS A NUMBER
*   EXPECTED OUTPUT IS A LIST

In [0]:
#FUNCTION FOR CONVERSION---NUMBER TO LIST
#INPUT:NUMBER
#OUTPUT:LIST
#TEST CASES:-
#14569---[1,4,5,6,9]
#1990----[1,9,9,0]
def numberlistconversion(n):
  li=[]
  while n!=0:
    r=n%10
    li.append(r)
    n=n//10
  li.reverse()
  return li
numberlistconversion(14569)

[1, 4, 5, 6, 9]

###STRING TO LIST CONVERTER


*   INPUT WILL BE A STRING
*   EXPECTED OUTPUT WILL BE A LIST

In [15]:
#function to convert the string to list
#test case:-
#"1 2 3 4 5 6"---[1,2,3,4,5,6]
def stringtolist(s):
  li=s.split()
  numberlist=[]
  for i in li:
    numberlist.append(int(i))
  return numberlist
s="1 2 3 4 5 6"
stringtolist(s)

[1, 2, 3, 4, 5, 6]

###SORTING ALGORITHMS

*  ALL THE SORTING ALGORITHMS MAKES THE LIST INTO ASCENDING ORDER
*   BUBBLE SORT
*  SELECTION SORT
*  INSERTION SORT

###BUBBLE SORT:-
*  This agorithm compares the adj. elements, if the first element is greater
*  thanthe second element then its required to swap the elements

In [17]:
def bubblesort(li):
  for i in range(len(li)-1):
    for j in range (len(li)-1):
      if li[j]>li[j+1]:
        li[j],li[j+1]=li[j+1],li[j]
  return li
li=[19,1,25,6,18,3]
bubblesort(li)

[1, 3, 6, 18, 19, 25]

###ASSIGNMENT

In [1]:
list=[1,2,3,4,5]
for i in list:
  if i%2==0:
    print(i,end=" ")

2 4

In [2]:
lst=[1,4,5,6,9]
for i in lst:
  print(i,end=" ")

1 4 5 6 9

In [5]:
list=[1,4,5,6,9]
for i in list:
  if i%2==0:
    print(i*i,end=",")
  else:
    print(i,end=",")

1,16,5,36,9,

In [7]:
def list(a):
  b=[]
  for j in range(len(a)):
    a[j]=int(a[j])
  for i in range(len(a)):
    if i!=0 and i!=len(a)-1:
      b.append(a[i-1]*a[i+1])
    else:
      b.append(a[i])
  return b
a=[15,19,12,16,4]
list(a)

[15, 180, 304, 48, 4]